# This is Git's per-user configuration file.
[core]
user = Evan Laforge
email = qdunkan@gmail.com
# pager = cat
pager = less --quit-if-one-screen --no-init
whitespace = trailing-space,tab-in-indent

[user]
name = Evan Laforge
email = qdunkan@gmail.com

[branch]
# I think this means when creating a local branch from a remote one,
# automatically add the upstream info
# autoSetupMerge = always

[push]
default = simple

[alias]
a = add
amend = commit --amend
b = branch -v
c = commit
co = checkout
d = diff
ds = diff --stat
lp = log -p -1 # Show either a a single patch, or last patch to a file.
m = merge --ff-only
oblit = reset --keep HEAD^
s = status --short
sync = pull -r origin head
unrec = reset HEAD^
wip = commit -am wip

# For ghc.
pullall = "!f(){ git pull --ff-only \"$@\" && git submodule update --init --recursive; }; f"

[url "git://github.com/ghc/packages-"]
insteadOf = git://github.com/ghc/packages/
