# This is Git's per-user configuration file.
[core]
user = Evan Laforge
email = qdunkan@gmail.com

[user]
name = Evan Laforge
email = qdunkan@gmail.com

[push]
default = simple

[alias]
s = status --short
b = branch
co = checkout
c = commit
wip = commit -am wip
unrec = reset HEAD^
	pullall = "!f(){ git pull --ff-only \"$@\" && git submodule update --init --recursive; }; f"
[url "git://github.com/ghc/packages-"]
	insteadOf = git://github.com/ghc/packages/
