set editing-mode vi
set horizontal-scroll-mode On
set bell-style none

# by default "vi mode" ^w does a non-vi-ish delete until whitespace
"\C-w": backward-kill-word

# make chinese input work in iterm
set meta-flag on
set input-meta on
set output-meta on
set convert-meta off

$if python
    tab: "    "
$endif
